<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.footyquizleagues" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name="com.footyquizleagues.EplActivity"
            android:label="Premiere League"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.footyquizleagues.ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.footyquizleagues.LaligaActivity"
            android:label="@string/title_activity_level2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.footyquizleagues.HomeActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.footyquizleagues.LeaguesActivity"
            android:label="@string/title_activity_leagues"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.footyquizleagues.SerieaActivity"
            android:label="@string/title_activity_seriea"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.footyquizleagues.HighScoreActivity"
            android:label="@string/title_activity_result_page"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.footyquizleagues.StartUpActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.footyquizleagues.BackgroundMusicService"
            android:enabled="true" />


    </application>

</manifest>
